@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.text {
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.middle-colum {
  overflow: hidden; 
  background: #282b30; 
  margin-right: 300px; 
  margin-left: 300px; 
  border-radius: 10px; 
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px; 
  padding-top: 1px; 
  padding-bottom: 20px;
}

.bodyNav {
  margin: 0;
}
   
.topnav {
  margin: 0;
  resize: none;
  overflow: hidden;
  background-color: #282b30;
  }  
   
.topnav a {
  font-weight: bold;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.4s;
}   
   
.topnav a:hover {
  background-color: #2e2e2e;
  color: #ffffff;
}  
  
.topnav a.active {
  background-color: #1f1f1f;
  color: #ffffff;
}

.rounded-box {
  padding-right: 25px;
  padding: 20px;
  background: #1f1f1f;
  border-radius: 20px;
  min-width: 100px;
  height: auto;
}

.img {
  height: auto;
  width: auto;
}

.small-ico {
  height: 32px;
  width: 32px;
}

.max-size {
  max-height: 100%;
  max-width: 100%;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.button {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: #ffffff;
  border-style: hidden;
  background: #424549;
  transition-duration: 0.4s;
}

.button:hover {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: #424549;
  border-style: hidden;
  background: #ffffff;
}

.button:active {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: #424549;
  border-style: hidden;
  background: #ffffff;
}

footer {
  background: #282b30;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.full-iframe {
  width: 100%;
  position: absolute;
  height: 100%;
  border: none
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 10px;
  color: #ffffff;
  display: none;
  position: absolute;
  background-color: #424549;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  border-radius: 10px;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #343638;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}